doctype html
html(lang='fr')
  head
    style
      include style.css
  body
    #bigTitle
      p#bigTitle USERS
    each val in users
      #todo.container
        p#title USER n°#{val.id}

          #user.content
            p#text FIRSTNAME : #{val.firstname}
            p#text LASTNAME : #{val.lastname}
            p#text USERNAME : #{val.username}
            p#text E-MAIL : #{val.email}
            p#subTitle Created the #{val.createdAt}

            #seeMore.button
              form(action=`/users/${val.id}`, method='GET')
                input#blueBut(type='submit', value="See more..")

            #delete.button
              form(action=`/users/${val.id}?_override=DELETE`, method='POST')
                input#redBut(type='submit', value='Delete')




  form(action=`/users/add`, method='GET')
    input#addBut(type='submit', value='+')

  form(action=`/todos`, method='GET')
    input#switchBut(type='submit', value='ALL TODOS')
