doctype html
html(lang='fr')
  head
    style
      include style.css
  body
    #bigTitle
      p#bigTitle USERS
    #user.container

      #header.button
        #title2.title2
          p USER n°#{show.id}

      #header2.button
        #bouton.title2
        form(action=`/users/${show.id}/todos`, method='GET')
          input#showTodosBut1(type='submit', value='Show his todos')


      #user.content
        p#text FIRSTNAME : #{show.firstname}
        p#text LASTNAME : #{show.lastname}
        p#text USERNAME : #{show.username}
        p#text E-MAIL : #{show.email}
        p#subTitle Created the #{show.createdAt}
        p#subTitle Created the #{show.updatedAt}

        #edit.button
          form(action=`/users/${show.id}/edit`, method="GET" )
            input#editBut(type='submit' value='Edit')

        #delete.button
          form(action=`/users/${show.id}?_override=DELETE`, method='POST')
            input#redBut(type='submit', value='Delete')



        #comeBack.comeBack
          form(action='javascript:history.back()', method='GET')
            input#backBut(type='submit', value='Come back')


  form(action=`/users/add`, method='GET')
    input#addBut(type='submit', value='+')

  form(action=`/todos`, method='GET')
    input#switchBut(type='submit', value='ALL TODOS')
